/* components */
.main {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.main_btn {
  width: 250px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: #f4f7ff;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.main_btn:hover {
  color: blue;
}
.btn_main,
.txt,
.sign_txt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_txt {
  display: flex;
  align-items: center;
  text-align: center;
}
.main_txt::before,
.main_txt::after {
  content: "";
  width: 60px;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.sign_btn {
  color: blue;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.email_main {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.email_txt,
.pass_txt,
.name_txt {
  font-size: 14px;
  display: flex;
}
.log_btn {
  color: white;
  background-color: blue;
  border: none;
  width: 100px;
  border-radius: 15px;
  margin-top: 10px;
  height: 30px;
  cursor: pointer;
}
.pass_description {
  display: flex;
  gap: 7px;
}
.checkbox_description {
  display: flex;
  gap: 20px;
}
.signup_main,
.checkbox_description_sign,
.sign_btn_main {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.checkbox_description_sign {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}
.name_txt,
.email_txt,
.pass_txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
